body {
  height: 100vh;
  overflow: hidden;
}

.shell {
}

.launch-options {
  padding-left: 1rem;
}

#other-task-input {
  display: none;
}

.terminate-shell-btn {
  display: none;
}

.CodeMirror {
  height: calc(100vh - 40px);
}

.console-log-input {
  background-color: #151515;
}

#editor-holder {
  padding-left: 1rem !important;
  padding-right: 0px !important;
}

#console-log-holder {
  padding-left: 0px !important;
  padding-right: 1rem !important;
}

#console-log-holder .cm-s-text-ex-machina
{
  background-color: #2C2C2C;
}